

Include dlls if they’re in the NuGet packages directory
!/packages//lib/.dll
!/packages//lib//*.dll

Include dlls if they're in the CommonReferences directory
!CommonReferences/.dll


Directories
###############
bin/
obj/
.vscode/
TestResults/

###################
