<div class="container body-content mt-5">
    <div class="row">
        <div class="col-md-5">
            <p>Pic1</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
        <div class="col-md-5">
            <p>Pic2</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
        <div class="col-md-5">
        <p>Pic3</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
        <div class="col-md-5">
            <p>Pic1</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
        <div class="col-md-5">
        <p>Pic4</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
        <div class="col-md-5">
        <p>Pic5</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
        <div class="col-md-5">
            <p>Pic6</p>
            <p><img src="~/images/placeholder.png" class="figure-img rounded"/></p>
            <p>UserName - City - Visit date</p>
        </div>
    </div>
</div>
