 <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="maldives.jpg" alt="...">
            <div class="caption">
              <h3>Summer in Maldives</h3>
              <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
              <p>City: Lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="maldives.jpg" alt="...">
              <div class="caption">
                <h3>Splendid Spain</h3>
                <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
                <p>City: Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
       <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="maldives.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
            <p>City: Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="maldives.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
            <p>City: Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="maldives.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
            <p>City: Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
     <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="maldives.jpg" alt="...">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
            <p>City: Lorem ipsum dolor sit amet</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="maldives.jpg" alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
              <p>City: Lorem ipsum dolor sit amet</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="maldives.jpg" alt="...">
              <div class="caption">
                <h3>Thumbnail label</h3>
                <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
                <p>City: Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="maldives.jpg" alt="...">
                <div class="caption">
                  <h3>Thumbnail label</h3>
                  <p><img src="" alt="profilepict" class="img-rounded"> : Name</p>
                  <p>City: Lorem ipsum dolor sit amet</p>
                </div>
              </div>
            </div>
        </div>
      </div>


<h1>Welcome to @ViewBag.state</h1>