<!--model Hitchhikers.Models.TravelCreateViewModel

<div asp-validation-summary="All"></div>
<h2>Create an Activity!</h2>
<form asp-controller="DojoActivity" asp-action="Create" method="post">
    <p>
        <label asp-for="Title"></label>
        <input asp-for="Title"/>
        <span asp-validation-for="Title"></span>
    </p>
    <p>
        <label asp-for="Photo"></label>
        <input asp-for="Photo"/>
        <span asp-validation-for="photo"></span>
    </p>
    <p>
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date"/>
        <span asp-validation-for="Date"></span>
    </p>
    <p>
        <label asp-for="Duration"></label>
        <input asp-for="Duration"/>
        <span asp-validation-for="Duration"></span>
    </p>
    <p>
        <label asp-for="DurationText"></label>
        <select asp-for="DurationText"></select>
        <span asp-validation-for="DurationText"></span>
    </p>
    <p>
        <label asp-for="Description"></label>
        <input asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </p>
    <button type="submit">Create </button>
</form> -->