@model WeekProject.Models.CreateViewModel
<div asp-validation-summary="All"></div>

<form asp-controller="Travel" asp-action="Create" method="post">
    <div class="form-group">
        <p>
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </p>
        <p>
            <label asp-for="Location"></label>
            <input asp-for="Location" class="form-control"/>
        </p>
        <p>
            <label asp-for="DateOfVisit"></label>
            <input asp-for="DateOfVisit" type="date" class="form-control"/>
        </p>
        <p>
            <div class="custom-file">
                <label asp-for="Photo" class="custom-file-label"></label>
                <input asp-for="Photo" class="form-control" type="file" class="custom-file-input"/>
            </div>
        </p>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>