
 <div class="container body-content mt-5">
        <div class="jumbotron mt-5 w-50">
            <h1 class="display-4 text-center">Photo goes here</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm ml-5 justify-content-center">
                <h4>Manage Users</h4>
                <p>Using this application, you'll learn how to add, remove and edit users for the application.</p>
            </div>
        </div>
    </div>