@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Hitchhikers</title>
     <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <title>@ViewData["Title"] Hitchhikers</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
  <link rel="stylesheet" href="~/css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>

  <script src="~/js/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="~/js/usa.js"></script>


  <script>
    $(document).ready(function() {

        var gdpData = 
        {
          "AL": 0,
          "AK": 0,
          "AS": 0,
          "AZ": 0,
          "AR": 0,
          "CA": 0,
          "CO": 0,
          "CT": 0,
          "DE": 0,
          "DC": 0,
          "FM": 0,
          "FL": 0,
          "GA": 0,
          "GU": 0,
          "HI": 0,
          "ID": 0,
          "IL": 0,
          "IN": 0,
          "IA": 0,
          "KS": 0,
          "KY": 0,
          "LA": 0,
          "ME": 0,
          "MH": 0,
          "MD": 0,
          "MA": 0,
          "MI": 0,
          "MN": 0,
          "MS": 0,
          "MO": 0,
          "MT": 0,
          "NE": 0,
          "NV": 0,
          "NH": 0,
          "NJ": 0,
          "NM": 0,
          "NY": 0,
          "NC": 0,
          "ND": 0,
          "MP": 0,
          "OH": 0,
          "OK": 0,
          "OR": 0,
          "PW": 0,
          "PA": 0,
          "PR": 0,
          "RI": 0,
          "SC": 0,
          "SD": 0,
          "TN": 0,
          "TX": 0,
          "UT": 0,
          "VT": 0,
          "VI": 0,
          "VA": 0,
          "WA": 0,
          "WV": 0,
          "WI": 0,
          "WY": 0 
        };

        var statesAvailable = @Html.Raw(ViewBag.MyStates);

        for(var key in gdpData)
        {
            for(var states = 0; states < statesAvailable.length; states++)
            {
                if(key == statesAvailable[states].States)
                {
                    gdpData[key] += 1;
                }
            }
            console.log(key + " = " + gdpData[key]);
        }


        $('#map').vectorMap({
            map: 'us_aea',
            zoomOnScroll: false,
            backgroundColor: '#D1DAD1',
            onRegionClick: function(e, code){
                console.log(e);
                console.log(code);
                window.open("CollectivePhotos/" + code, "_self");
            },
            series: {
                regions: [{
                    values: gdpData,
                    scale: ['#fff3fa', '#A8983B', "#FFD700",'#FFFF00', '#fccce1', '#DC143C'],
                    normalizeFunction: 'polynomial'
                }]
            },
        });
    });
  </script>
 <div id="map" style="width: 100%; height: 815px"></div>


</body>
</html>