@model Hitchhikers.Models.LoginViewModel

<div asp-validation-summary="All"></div>
<form asp-controller="Home" asp-action="Login" method="post">
    <div class="form-group">
        <p>
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </p>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>