@model Hitchhikers.Models.RegisterViewModel

<div asp-validation-summary="All"></div>
<h1>Welcome</h1>
<form asp-controller="Home" asp-action="Register" method="post">
    <div class="form-group">
        <p>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control"/>
            <span asp-validation-for="FirstName"></span>
        </p>
        <p>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control"/>
            <span asp-validation-for="LastName"></span>
        </p>
        <p>
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="CfPassword"></label>
            <input asp-for="CfPassword" type="password" class="form-control"/>
            <span asp-validation-for="CfPassword"></span>
        </p>
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>
