body, #ChatroomBg{
    padding-top:50px;
    font-family: 'Yeseva One', cursive;
}

#register_log
{
    background-image: url('../images/adventure-ball-shaped-blur-346885.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Yeseva One', cursive;

}

/* main */
/* .main{
    z-index: 100;
    font-size: 4em;
    font-family: 'Yeseva One', cursive;
    position: relative;
    bottom: 0px;
    right: 0px;
}
.mainmap{
    z-index: -1;
} */

/* ChatRoom Css */
.fa-plane{
    font-size: 2em;
    color: #0c3c60;
}

.col12none{
    display: None;
}

.box{
    margin-top: 150px;
    height: auto;
    width: 50%;
    flex-wrap: wrap;
    padding: 20px;
    background: white;
}
.chatroom{
    width: 50%;
    margin-top: 100px;
    border-radius: 5px;
    padding: 30px;
    background-color: rgba(247, 248, 248, 0.8);
}

#ChatroomBg{
    background-image: url("../images/chatbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}

.chatbox{
    height: 400px;
    overflow-y: scroll;
    width: 95%;
    margin-left: 10px;
}

li{
    list-style: none;
}

.messageInput{
    height: 60px;
}

#messagesList li{
    font-weight: bold;
    font-size:1.2em;
}

.sendBtn{
    height: 60px;
}

.col-md-2{
    padding-left: 0;
}

.col-md-10{
    padding-right: 0;
}

.blue{
    color: blue;
}


/* Login Reg Css */
.aroundborderlogin{
    height: auto;
    width: 370px;
    margin-top: 50px;
    padding: 25px 45px;
    border-radius: 10px;
    background: rgba(238, 235, 235, 0.5);
}

.aroundborderregister{
    height: auto;
    width: 370px;
    margin-top: 50px;
    padding: 25px 45px;
    border-radius: 10px;
    background: rgba(238, 235, 235, 0.5);
}

.forms_errors{
    font-size: 10px;
}

.padding_betweeen_valid_errors{
    margin-bottom: -5px;
}


/* Form css */
.mt30{
    margin-top: 30px;
}

.mt20{
    margin-top: 20px;
}

.navbar-custom {
    background-color: #0c3c60;
    border-radius: 0;
    color: white;
}

.navbar-custom a{
    font: white;
}

/* 
.navbar-custom .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #ffffff;
} */

/* ViewPicture */
.enlargepic{
    width: 100%;
}

.comments{
    margin-left: 30px;
}

.cmtbtn{
    margin-top: 5px;
    height: 50px;
}

.cmtFont{
    font-size: 1.2em;
}

.photosize {
    width: 255px !important;
    height: 145px !important;
}

.thumbnail{
    height:280px !important;
}

.thumbnailDash{
    height: 200px !important;
}